// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~datatables.net-dt/css/jquery.dataTables.css';

.btn-href {
  text-decoration: underline;
  color: $main-color;
}

.bg-main {
  background-color: $main-color;
}

.btn-primary {
  background-color: $main-color;
  outline: $main-color;
  border-color: $main-color;
}

.btn-primary:hover {
  background-color: $main-color-hover;
}

.text-main, a {
  color: $main-color;
}

a:hover, .btn-href:hover {
  color: $main-color-hover;
}